<div id="missionFormDiv">
  <h1> New Mission </h1>          
  <form name="newMissionForm" role="form" class="form-horizontal"> 

      <div class="form-group">
        <label for="missionName" class="col-sm-2 control-label" >Name:</label>
        <div class="col-sm-10">
          <input id="missionName" class="form-control" type="text" required  ng-model="mission.name" placeholder="Epic Name..."/>
        </div>
      </div>

      <div class="form-group">

        <label for="missionDescription" class="col-sm-2 control-label">Description:</label>
        <div class="col-sm-10">
          <textarea  id="missionDescription" class="form-control" required   ng-model="mission.description" placeholder="Describe the mission..." rows="3"></textarea>                
        </div>
      </div>

      <div class="form-group">
        <label for="missionPortal" class="col-sm-2 control-label">Portal Url: </label>
        <div class="col-sm-10">
        <input id="missionPortal" class="form-control" norequired type="url" ng-model="mission.portalurl" placeholder="Copy the Intel portal's direct url here..."/>
        </div>
      </div>

   <div class="form-group">
      <label class="col-sm-2 control-label">Difficulty:</label>

      <div class="controls-row col-sm-10">              
        <label class="radio inline">
        <input type="radio" name="difficulty" ng-model="mission.difficulty" value="1"/>
          Easy (1 point)
        </label>
        <label class="radio inline">
        <input type="radio" name="difficulty" ng-model="mission.difficulty" value="2"/>
          Moderate (3 points)
        </label>
        <label class="radio inline">
        <input type="radio" name="difficulty" ng-model="mission.difficulty" value="3"/>
          Hard (5 points)
        </label>
      </div>            
  </div>

    <br />
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" ng-disabled="newMissionForm.$invalid" ng-click="save(mission,newMissionForm)" class="btn btn-success btn-lg btn-block">Save</button>
      </div>
    </div>
  </form>
</div>
